log/
db_bak/
db_log/
core.1096
# gamelib/clone/item/ - track system files, ignore player-crafted files
gamelib/clone/item/**/*.o
gamelib/clone/item/weapon/
gamelib/clone/item/armor/
gamelib/clone/item/book/
gamelib/clone/item/jewelry/
gamelib/clone/item/baoshi/
gamelib/clone/item/baoxiang/
gamelib/clone/item/task/
gamelib/clone/item/taskaward/
gamelib/clone/item/teyao/
gamelib/clone/item/other/
gamelib/clone/item/decorate/
gamelib/clone/item/door/
gamelib/clone/item/feed/
gamelib/clone/item/food/
gamelib/clone/item/gift/
gamelib/clone/item/honer/
gamelib/clone/item/water/
gamelib/clone/item/yushi/
gamelib/clone/item/duanzao/
gamelib/clone/item/zongzi/
gamelib/clone/item/zhongqiuyuebing/
# gamelib/data/  # removed to track data files
data_xiand/u/
data_xiand/new_users/
gamelib/clone/convert_count.txt
gamelib/clone/convert_utf8.log
